@font-face {
  font-family: "iconfont";
  /* Project id 4194668 */
  src: url('iconfont.ttf?t=1693481464006') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unishouyeyangshi1:before {
  content: "\e65f";
}

.icon-uniyonghu:before {
  content: "\e666";
}
